.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -webkit-box-shadow: 3px 3px 3px 0px #ff80ff;
    box-shadow: 3px 3px 3px 0px #ff80ff;
  }
  
  .sec1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #16984a;
  }
  .sec2 {
    grid-area: 1 / 2 / 2 / 3;
    background: #5b847c;
  }
  .sec3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #9cc853;
  }
  .sec4 {
    grid-area: 2 / 1 / 3 / 2;
    background: #ff9e14;
  }
  .sec5 {
    grid-area: 2 / 2 / 3 / 3;
    background: #739003;
  }
  .sec6 {
    grid-area: 2 / 3 / 3 / 4;
    background: #e0618a;
  }
  .sec7 {
    grid-area: 3 / 1 / 4 / 2;
    background: #790642;
  }
  .sec8 {
    grid-area: 3 / 2 / 4 / 3;
    background: #78c6fc;
  }
  .sec9 {
    grid-area: 3 / 3 / 4 / 4;
    background: #903e49;
  }
